Repository FC-DEV-FinalProject/final-fe-team4, pull requests merged in 2024-12, with the labels that each got.

#232 [feat] 비밀번호 찾기, 아이디 찾기 구현 #230
  src/api/profileAPI.ts
  src/components/custom/dialogs/FindResultDialog.tsx
  src/components/custom/forms/FindAccountForm.tsx
Labels: feat

#231 [feat] vc 기능 개선
  src/components/custom/buttons/IconButton.tsx
  src/components/custom/buttons/PlayButton.tsx
  src/components/custom/cards/VoiceCard.tsx
  src/components/custom/dialogs/AudioHistoryDialog.tsx
  src/components/custom/feature/FileUploadBox.tsx
  src/components/custom/feature/VoiceSelection.tsx
  src/components/custom/features/auth/TermsAgreement.tsx
  src/components/custom/features/common/AudioPlayer.tsx
  src/components/custom/features/common/StateController.tsx
  src/components/custom/features/tts/SoundStatus.tsx
  src/components/custom/features/vc/CustomVoiceUpload.tsx
  src/components/custom/features/vc/VoiceList.tsx
  src/components/custom/features/vc/VoiceSelection.tsx
  src/components/custom/forms/SigninForm.tsx
  src/components/custom/forms/SignupForm.tsx
  src/components/custom/tables/project/common/TableContents.tsx
  src/components/custom/tables/project/common/TableHeader.tsx
  src/components/custom/tables/project/common/TableListView.tsx
  src/components/custom/tables/project/tts/TTSPlaybackHistory.tsx
  src/components/custom/tables/project/tts/TTSTableGridView.tsx
  src/components/section/contents/MainContents.tsx
  src/components/section/footer/AudioFooter.tsx
  src/components/section/sidebar/CONCATSidebar.tsx
  src/components/section/sidebar/TTSSidebar.tsx
  src/components/section/sidebar/VCSidebar.tsx
  src/constants/tooltips.ts
  src/hooks/useFileUpload.ts
  src/pages/CONCATPage.tsx
  src/pages/VCPage.tsx
  src/stores/auth.store.ts
  src/stores/vc.store.ts
Labels: feat

#234 [feat] 로그아웃 api 연결, 리다이렉션, 타입에러 수정, user 정보 #233, #141
  src/api/authAPI.ts
  src/components/custom/dropdowns/ProfileDropdown.tsx
  src/components/custom/forms/SigninForm.tsx
  src/components/section/header/FileProgressHeader.tsx
  src/components/section/header/MainHeader.tsx
  src/constants/images.ts
  src/images/user-default-profile.jpg
  src/pages/HistoryPage.tsx
  src/pages/HomePage.tsx
  src/pages/MyPage.tsx
  src/pages/ProjectPage.tsx
  src/pages/TTSPage.tsx
  src/routes/ProtectedRoute.tsx
  src/routes/router.tsx
  src/stores/auth.store.ts
Labels: feat

#236 [fix] tts 프로젝트가 저장을 누르면 새 프로젝트를 만들어 저장하는 오류 수정
  src/api/ttsApi.ts
Labels: fix

#237 [feat] 로컬스토리지에 id만 저장하도록 변경 #233
  src/components/custom/forms/SigninForm.tsx
  src/stores/auth.store.ts
Labels: feat

#239 [feat] 프로젝트 목록 연결, 필터링, 페이지네이션 #238
  package-lock.json
  package.json
  src/api/aIParkAPI.schemas.ts
  src/api/workspaceAPI.ts
  src/components/custom/tables/history/HistoryListTable.tsx
  src/components/custom/tables/history/ProjectListTable.tsx
  src/components/custom/tables/history/TableToolbar.tsx
  src/components/section/contents/MainContents.tsx
  src/constants/dummy.ts
  src/pages/HistoryPage.tsx
  src/pages/ProjectPage.tsx
  src/types/table.ts
  src/utils/dateUtils.ts
Labels: feat

#241 [fix] ttsDetail 항목이 있을 때 tts/save가 실패하는 문제를 해결했습니다. #235
  src/api/aIParkAPI.schemas.ts
  src/api/aIParkAPI.ts
  src/api/api.schem.ts
  src/api/ttsApi.ts
  src/constants/dummy.ts
  src/pages/TTSPage.tsx
  src/stores/tts.store.ts
Labels: fix

#242 [feat] 회원가입 구현 및 비밀번호 해쉬적용
  src/api/authAPI.ts
  src/api/profileAPI.ts
  src/api/smsAPI.ts
  src/components/custom/forms/FindAccountForm.tsx
  src/components/custom/forms/SigninForm.tsx
  src/components/custom/forms/SignupForm.tsx
  src/utils/joaatHash.ts
  src/utils/phoneNumber.ts
  src/utils/signupSchema.ts
Labels: feat

#243 [Feat] Concat Get api 적용
  src/components/section/contents/Title.tsx
  src/pages/CONCATPage.tsx
  src/routes/router.tsx
Labels: feat, concat

#245 [feat] 워크스페이스-프로젝트 삭제, 최근 프로젝트 5개 api 연결 #240 #244
  src/api/aIParkAPI.schemas.ts
  src/api/workspaceAPI.ts
  src/components/custom/cards/RecentProjectCard.tsx
  src/components/custom/tables/history/TableToolbar.tsx
  src/components/section/contents/MainContents.tsx
  src/components/section/contents/RecontProject.tsx
  src/pages/ProjectPage.tsx
Labels: feat

#247 [feat] api 수정 #244
  src/api/aIParkAPI.schemas.ts
  src/api/workspaceAPI.ts
Labels: feat

#249 [bug] 로그인 후 새로고침하면 유저 정보 날라가는 버그 #248
  src/stores/auth.store.ts
Labels: bug, feat

#250 [feat] 회원정보 수정
  src/api/profileAPI.ts
  src/components/custom/forms/EditProfileForm.tsx
  src/components/custom/forms/FindAccountForm.tsx
  src/stores/auth.store.ts
  src/utils/phoneNumber.ts
Labels: feat

#253 [feat] vc api연동, concat 개선
  src/api/vcApi.ts
  src/components/custom/buttons/IconButton.tsx
  src/components/custom/dialogs/CreateProjectDialog.tsx
  src/components/custom/dropdowns/FileProgressDropdown.tsx
  src/components/custom/dropdowns/KebabMenu.tsx
  src/components/custom/features/common/AudioPlayer.tsx
  src/components/custom/features/common/StateController.tsx
  src/components/custom/features/concat/SilenceStatus.tsx
  src/components/custom/features/vc/VoiceList.tsx
  src/components/custom/guide/HomePopup.tsx
  src/components/custom/tables/history/HistoryListTable.tsx
  src/components/custom/tables/history/ProjectListTable.tsx
  src/components/custom/tables/history/RecentExportTable.tsx
  src/components/custom/tables/project/common/TableContents.tsx
  src/components/custom/tables/project/common/TableFooter.tsx
  src/components/custom/tables/project/common/TableHeader.tsx
  src/components/custom/tables/project/common/TableListView.tsx
  src/components/custom/tables/project/concat/ConcatListRow.tsx
  src/components/custom/tables/project/tts/TTSListRow.tsx
  src/components/custom/tables/project/tts/TTSTableGridView.tsx
  src/components/custom/tables/project/vc/VCListRow.tsx
  src/components/section/contents/MainContents.tsx
  src/components/section/contents/Title.tsx
  src/components/section/sidebar/CONCATSidebar.tsx
  src/components/section/sidebar/ConcatSidebar.tsx
  src/components/section/sidebar/NavSidebar.tsx
  src/components/section/sidebar/TTSSidebar.tsx
  src/components/section/sidebar/VCSidebar.tsx
  src/components/ui/alert.tsx
  src/constants/tooltips.ts
  src/hooks/useAudioDownload.ts
  src/hooks/useConcatUpload.ts
  src/hooks/useTableItems.ts
  src/hooks/useVoiceConversion.ts
  src/layouts/PageLayout.tsx
  src/pages/ConcatPage.tsx
  src/pages/HistoryPage.tsx
  src/pages/HomePage.tsx
  src/pages/ProjectPage.tsx
  src/pages/TTSPage.tsx
  src/pages/VCPage.tsx
  src/routes/router.tsx
  src/stores/concat.store.ts
  src/stores/project.store.ts
  src/stores/tts.store.ts
  src/stores/vc.store.ts
  src/types/table.ts
  tsconfig.app.json
Labels: feat

#255 [feat] workspace에서 프로젝트 클릭시 해당프로젝트로 이동, 상태로드, 에러 수정 #254
  src/api/vcAPI.ts
  src/api/workspaceAPI.ts
  src/components/custom/tables/history/ProjectListTable.tsx
  src/components/section/contents/MainContents.tsx
  src/components/section/contents/RecontProject.tsx
  src/pages/ProjectPage.tsx
  src/pages/TTSPage.tsx
  src/routes/router.tsx
  src/stores/tts.store.ts
Labels: feat

#259 [feat] SSE 설정 추가
  src/api/smsAPI.ts
  src/api/taskAPI.ts
  src/components/custom/dropdowns/FileProgressDropdown.tsx
  src/utils/sseConnetion.ts
Labels: feat

#260 [feat] 히스토리 목록, 최근 히스토리, 히스토리 오디오 삭제 연결 #258
  src/api/aIParkAPI.schemas.ts
  src/api/vcAPI.ts
  src/api/workspaceAPI.ts
  src/components/custom/tables/history/HistoryListTable.tsx
  src/components/custom/tables/history/ProjectListTable.tsx
  src/components/custom/tables/history/RecentExportTable.tsx
  src/components/section/contents/MainContents.tsx
  src/hooks/useVoiceConversion.ts
  src/pages/HistoryPage.tsx
  src/pages/HomePage.tsx
  src/utils/dateUtils.ts
Labels: feat

#262 [feat] tts/convert/batch 기능 완료 tts변환 및 재생성 히스토리 기능 구현
  orval.config.cjs
  src/api/aIParkAPI.schemas.ts
  src/api/ttsAPI.ts
  src/components/custom/buttons/IconButton.tsx
  src/components/custom/dialogs/AudioHistoryDialog.tsx
  src/components/custom/tables/project/tts/SortableGridItem.tsx
  src/components/custom/tables/project/tts/TTSHistoryTree.tsx
  src/components/custom/tables/project/tts/TTSListRow.tsx
  src/components/custom/tables/project/tts/TTSPlaybackHistory.tsx
  src/components/custom/tables/project/tts/TTSTableGridView.tsx
  src/components/section/contents/MainContents.tsx
  src/components/section/footer/AudioFooter.tsx
  src/hooks/usePlaybackHistory.ts
  src/pages/TTSPage.tsx
  src/stores/tts.store.ts
  src/stores/ttsPlayback.store.ts.ts
Labels: feat

#263 [Feat] concat save
  src/api/aIParkAPI.schemas.ts
  src/api/concatAPI.ts
  src/components/custom/tables/project/common/TableListView.tsx
  src/pages/ConcatPage.tsx
  src/stores/concat.store.ts
Labels: feat

#264 [fix] tts 테이블에서 enter 눌렀을 때 새줄 추가
  src/components/custom/tables/project/tts/SortableGridItem.tsx
  src/components/custom/tables/project/tts/TTSListRow.tsx
Labels: feat

#265 [feat] vc save/load 중간 pr
  src/api/vcAPI.ts
  src/api/workspaceAPI.ts
  src/components/custom/dialogs/CreateProjectDialog.tsx
  src/components/custom/tables/history/RecentExportTable.tsx
  src/components/custom/tables/project/common/TableContents.tsx
  src/components/custom/tables/project/common/TableListView.tsx
  src/components/section/contents/MainContents.tsx
  src/components/section/contents/Title.tsx
  src/components/section/footer/AudioFooter.tsx
  src/hooks/useTableItems.ts
  src/pages/VCPage.tsx
  src/stores/vc.store.ts
  src/types/table.ts
  tsconfig.app.json
Labels: feat

#270 [Feat] concat batch, detailsdelete Api 연동
  src/api/concatAPI.ts
  src/pages/ConcatPage.tsx
Labels: feat

#269 [feat] vc save/load
  src/components/custom/dialogs/AudioHistoryDialog.tsx
  src/components/custom/features/common/AudioPlayer.tsx
  src/components/custom/tables/project/common/TableFooter.tsx
  src/components/section/contents/MainContents.tsx
  src/components/section/footer/AudioFooter.tsx
  src/hooks/useVoiceConversion.ts
  src/stores/vc.history.store.ts
Labels: feat

#274 [Feat] 워크스페이스 재생, 다운로드, alert 알림 #258
  src/api/workspaceAPI.ts
  src/components/custom/dialogs/ConfirmationDialog.tsx
  src/components/custom/tables/history/HistoryListTable.tsx
  src/components/custom/tables/history/ProjectListTable.tsx
  src/components/custom/tables/history/RecentExportTable.tsx
  src/components/section/contents/MainContents.tsx
  src/components/section/contents/RecontProject.tsx
  src/pages/HistoryPage.tsx
  src/pages/HomePage.tsx
  src/pages/ProjectPage.tsx
Labels: feat

#268 [fix] vc프로젝트에서도 tts히스토리가 보이는 문제 해결 #267
  src/components/custom/tables/history/RecentExportTable.tsx
  src/components/custom/tables/project/tts/SortableGridItem.tsx
  src/components/custom/tables/project/tts/TTSListRow.tsx
  src/components/custom/tables/project/tts/TTSPlaybackHistory.tsx
  src/components/section/footer/AudioFooter.tsx
  src/pages/TTSPage.tsx
  src/stores/TTSAudioHistory.store.ts
Labels: fix
