Repository FC-DEV-FinalProject/final-fe-team4, pull requests merged in 2024-11, with the labels that each got.

#6 settings 이슈 자동 담당자 지정 삭제, 프로젝트 자동 지정
  .github/labeler.yml
  .github/workflows/add-pr-to-project.yml
  .github/workflows/issue-auto-assign.yml
Labels: settings

#8 Update PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: docs

#20 feat: select 컴포넌트 완성
  package-lock.json
  package.json
  src/components/ui/select.tsx
Labels: feat, Html&css

#24 [feat]: iconbutton 컴포넌트 작성 #11
  src/components/ui/iconButton.tsx
Labels: feat, Html&css

#29 feat: commonButton 컨포넌트 #22
  src/components/ui/commonbutton.tsx
  src/pages/LoginPage.tsx
Labels: feat, Html&css

#30 feat: 체크박스 컴포넌트 구현
  package-lock.json
  package.json
  src/components/ui/checkbox.tsx
  src/components/ui/select.tsx
  tailwind.config.js
Labels: feat, refactor, settings, Html&css

#34 [feat] 재생 버튼 컴포넌트 구현 #31
  src/components/ui/SoundStatus.tsx
  src/components/ui/playButton.tsx
Labels: feat, Html&css

#37 [Feat] viewfilter 버튼컴포넌트 작성
  src/components/ui/viewFilterButton.tsx
Labels: feat, Html&css

#38 [feat] AudioPlayer 컴포넌트 구현
  package-lock.json
  package.json
  src/components/ui/AudioPlayer.tsx
Labels: feat, Html&css

#40 [feat] StateController UI구현 #19
  package-lock.json
  package.json
  src/components/ui/StateController.tsx
Labels: feat, Html&css

#47 [Feat] TTS탭 리스트 Ui 컴포넌트 작성 #28
  src/components/ui/SoundStatus.tsx
  src/components/ui/TextInput.tsx
  src/components/ui/TtsListTable.tsx
  src/components/ui/checkbox.tsx
  src/components/ui/playButton.tsx
  tailwind.config.js
Labels: feat, Html&css

#39 [Feat] 로그인페이지 퍼블리싱
  package-lock.json
  src/components/login/loginbox.tsx
  src/components/login/logininput.tsx
  src/images/loginlogo.svg
  src/images/logo.png
  src/pages/LoginPage.tsx
Labels: feat, Html&css

#52 [Feat]ToolTip 컨포넌트 제작
  src/components/ui/tooltip.tsx
  src/pages/ExamplePage.tsx
  src/routes/router.tsx
Labels: feat, html&css

#49 [feat] TTS탭 레이아웃, 전체페이지 여백 변경 #42
  src/components/layouts/NavbarLayout.tsx
  src/pages/TTSPage.tsx
Labels: feat, html&css

#55 [feat] tts탭 옵션 설정 사이드바 작성 #51
  src/components/tts/TTSOptionsSidebar.tsx
  src/pages/TTSPage.tsx
Labels: feat, html&css

#48 [rename] 파일명 대소문자 변경 #44
  .github/.gitmessage.txt
  .github/PULL_REQUEST_TEMPLATE.md
  .gitignore
  .vscode/extensions.json
  .vscode/settings.json
  README.md
  byul.config.json
  index.html
  lefthook.yml
  package-lock.json
  package.json
  src/components/layouts/NavbarLayout.tsx
  src/components/login/LoginBox.tsx
  src/components/login/LoginInput.tsx
  src/components/ui/AudioPlayer.tsx
  src/components/ui/Button.tsx
  src/components/ui/CheckBox.tsx
  src/components/ui/CommonButton.tsx
  src/components/ui/IconButton.tsx
  src/components/ui/NavSidebar.tsx
  src/components/ui/PlayButton.tsx
  src/components/ui/ScrollArea.tsx
  src/components/ui/Select.tsx
  src/components/ui/Separator.tsx
  src/components/ui/TTSListTable.tsx
  src/components/ui/ViewFilterButton.tsx
  src/index.css
  src/pages/LoginPage.tsx
  tsconfig.app.json
  tsconfig.json
  tsconfig.node.json
Labels: refactor

#53 [setting] SonarQube 설정 및 TS 버전 변경 #16
  .github/workflows/sonar.yml
  package.json
  sonar-project.properties
Labels: settings

#60 [fix] 타입 오류 수정, tsconfig파일 수정 #59
  package-lock.json
  package.json
  src/components/tts/TTSOptionsSidebar.tsx
  src/pages/ExamplePage.tsx
  tsconfig.app.json
Labels: fix

#57 [feat] tts탭 페이지 퍼블리싱 #56
  src/components/tts/TTSMainContent.tsx
  src/components/tts/TTSOptionSidebar.tsx
  src/pages/TTSPage.tsx
Labels: feat, html&css

#70 [feat] 테이블 컴포넌트 #43
  package-lock.json
  package.json
  src/components/tts/TTSListTable.tsx
  src/components/tts/TTSMainContent.tsx
  src/components/tts/TTSTable.tsx
  src/components/ui/AudioPlayer.tsx
  src/components/ui/CheckBox.tsx
  src/components/ui/ViewFilterButton.tsx
  src/pages/ExamplePage.tsx
Labels: feat

#72 [remove] coderabbit.yaml 파일 삭제
  .coderabbit.yaml
Labels: remove

#76 [Docs] 글로벌스타일 최종수정
  src/components/login/LoginBox.tsx
  src/components/login/LoginInput.tsx
  src/components/ui/CommonButton.tsx
  src/components/ui/Tooltip.tsx
  src/index.css
  src/pages/ExamplePage.tsx
Labels: docs, html&css

#82 [feat] tts-grid
  src/components/tts/TTSMainContent.tsx
  src/components/tts/TTSTable.tsx
  src/components/tts/TTSTableGrid.tsx
  src/components/tts/TTSTableList.tsx
  src/pages/ExamplePage.tsx
Labels: feat, html&css

#83 [feat] tailwind 색상 변경, 아이콘 라이브러리 변경, 네비사이드바 변경 #81
  package-lock.json
  package.json
  src/components/tts/TTSTable.tsx
  src/components/ui/Button.tsx
  src/components/ui/CheckBox.tsx
  src/components/ui/CommonButton.tsx
  src/components/ui/IconButton.tsx
  src/components/ui/NavSidebar.tsx
  tailwind.config.js
Labels: feat, html&css

#86 [Feat] TTSdropdown 컨포넌트
  src/components/tts/TTSdropdown.tsx
  src/components/ui/IconButton.tsx
  src/pages/ExamplePage.tsx
  src/pages/TTSPage.tsx
Labels: feat, html&css

#87 [feat] Select 선택값이 반영되도록 변경, playbutton 아이콘 변경 #81
  src/components/tts/TTSOptionsSidebar.tsx
  src/components/ui/PlayButton.tsx
  src/components/ui/Select.tsx
Labels: feat

#90 [feat] 아이콘 네비바 추가 #26
  eslint.config.js
  src/components/navigation/NavSidebar.tsx
  src/components/ui/button.tsx
  src/components/ui/scroll-area.tsx
  tsconfig.app.json
Labels: feat

#94 [Feat]ErrorPage 퍼블리싱
  src/images/error.svg
  src/pages/ErrorPage.tsx
  src/routes/router.tsx
Labels: feat, html&css

#99 [setting] 목서버 셋팅 #96
  mock/mockdown.cjs
  mock/mockup.cjs
  package-lock.json
  package.json
Labels: feat, settings

#100 [settings] 스토리북 설정 #93
  .gitignore
  .storybook/main.ts
  .storybook/preview.ts
  package-lock.json
  package.json
  src/stories/AudioPlayer.stories.tsx
Labels: feat, settings

#101 [feat] workspace 레이아웃, 최근 프로젝트 카드 컴포넌트 작성 #98
  package-lock.json
  package.json
  src/components/workSpace/RecentProjectCard.tsx
  src/components/workspace/RecentProjectCard.tsx
  src/images/RecentCardbg1.svg
  src/images/RecentCardbg2.svg
  src/images/RecentCardbg3.svg
  src/images/RecentCardbg4.svg
  src/pages/ExamplePage.tsx
  src/pages/WorkspacePage.tsx
  tailwind.config.js
Labels: feat

#106 [settings] 스토리북 자동 배포 설정 #104
  .github/workflows/chromatic.yml
  package.json
Labels: settings

#110 [fix] 네비바 수정, hover가 아닌 toggle 방식으로 메뉴바 확장하도록 수정 #91
  src/components/navigation/NavSidebar.tsx
  src/components/ui/button.tsx
  src/pages/WorkspacePage.tsx
Labels: fix

#109 [Feat] 홈 상단팝업 컨포넌트
  src/components/workspace/HomeCard.tsx
  src/components/workspace/HomePopup.tsx
  src/images/HomePopupbg.svg
  src/pages/ExamplePage.tsx
  src/pages/WorkspacePage.tsx
Labels: feat, html&css

#112 [feat] 공통 컴포넌트 선별
  .github/workflows/chromatic.yml
  package-lock.json
  package.json
  src/components/audio/SoundStatus.tsx
  src/components/buttons/PlayButton.tsx
  src/components/common/TextInput.tsx
  src/components/common/Tooltip.tsx
  src/components/login/LoginBox.tsx
  src/components/login/LoginInput.tsx
  src/components/tts/table/TTSTableGrid.tsx
  src/components/tts/table/TTSTableList.tsx
  src/components/ui/accordion.tsx
  src/components/ui/avatar.tsx
  src/components/ui/badge.tsx
  src/components/ui/checkbox.tsx
  src/components/ui/dialog.tsx
  src/components/ui/input.tsx
  src/components/ui/select.tsx
  src/components/ui/separator.tsx
  src/components/ui/slider.tsx
  src/components/ui/switch.tsx
  src/components/ui/textarea.tsx
  src/components/ui/toast.tsx
  src/components/ui/tooltip.tsx
  src/components/workspace/HistoryTable.tsx
  src/pages/ExamplePage.tsx
  src/routes/router.tsx
  src/stories/AudioPlayer.stories.tsx
  src/stories/badge.stories.tsx
  src/stories/button.stories.tsx
  src/stories/input.stories.tsx
  src/stories/tooltip.stories.tsx
Labels: feat

#115 [refactor] tts,workspace 레이아웃 수정 #114
  src/components/audio/AudioPlayer.tsx
  src/components/buttons/ViewFilterButton.tsx
  src/components/layouts/NavbarLayout.tsx
  src/components/navigation/NavSidebar.tsx
  src/components/tts/TTSMainContent.tsx
  src/components/tts/table/TTSTable.tsx
  src/components/tts/table/TTSTableGrid.tsx
  src/components/tts/table/TTSTableList.tsx
  src/components/workspace/HomePopup.tsx
  src/components/workspace/RecontProject.tsx
  src/images/logofull.png
  src/images/logomini.png
  src/pages/TTSPage.tsx
  src/pages/WorkspacePage.tsx
Labels: refactor, html&css

#134 [Feat] TTS Dropdown 태그 v 아이콘 추가
  src/components/tts/TTSDropdown.tsx
Labels: feat, html&css

#138 [feat] 레이아웃 컴포넌트
  package-lock.json
  package.json
  src/components/audio/SoundStatus.tsx
  src/components/dropdowns/ProfileDropdown.tsx
  src/components/dropdowns/TTSDropdown.tsx
  src/components/footer/AudioFooter.tsx
  src/components/header/MainHeader.tsx
  src/components/header/WorkStatusHeader.tsx
  src/components/sidebar/TTSOptionsSidebar.tsx
  src/components/ui/badge.tsx
  src/components/ui/dropdown-menu.tsx
  src/components/ui/tabs.tsx
  src/pages/TTSPage.tsx
  src/pages/WorkspacePage.tsx
  src/stories/audio/.gitkeep
  src/stories/buttons/.gitkeep
  src/stories/forms/SignupForm.stories.tsx
  src/stories/icons/.gitkeep
  src/stories/nav/.gitkeep
  src/stories/terms/TermsAgreement.stories.tsx
  src/stories/terms/TermsDialog.stories.tsx
  src/stories/tts/.gitkeep
  src/stories/ui/badge.stories.tsx
  src/stories/ui/dropdown-menu.stories.tsx
  src/stories/ui/tabs.stories.tsx
  src/stories/workspace/.gitkeep
Labels: feat, html&css

#154 [feat] concat 페이지 레이아웃 #153
  src/pages/CONCATPage.tsx
Labels: feat, html&css

#156 [fix] HistoryTable 컴포넌트변경
  .github/workflows/chromatic.yml
  .storybook/main.ts
  src/components/dropdowns/FileProgressDropdown.tsx
  src/components/section/ProjectTitle.tsx
  src/components/tables/HistoryTable.tsx
  src/components/ui/badge.tsx
  src/pages/CONCATPage.tsx
  src/pages/TTSPage.tsx
  src/pages/VCPage.tsx
  src/pages/WorkspacePage.tsx
  src/stories/ui/tabs.stories.tsx
Labels: fix

#161 [feat] home popup컴포넌트 디자인 수정 #160
  src/components/workspace/HomeCard.tsx
  src/components/workspace/HomePopup.tsx
  src/components/workspace/RecontProject.tsx
  src/images/home-popup-bg.svg
  src/pages/WorkspacePage.tsx
Labels: feat, html&css

#159 [feat] 파일업로드 안내창 #158
  src/components/alerts/FileUploadAlert.tsx
  src/pages/CONCATPage.tsx
  src/pages/VCPage.tsx
Labels: feat, html&css

#157 [feat] concat 옵션 사이드바 작성 #144
  src/components/sidebar/CONCATOptionsSidebar.tsx
  src/pages/CONCATPage.tsx
Labels: feat, html&css

#162 [feat] audio histroy 작성 #145
  src/components/audio/AudioHistoryDialog.tsx
  src/components/footer/AudioFooter.tsx
  src/components/ui/dialog.tsx
Labels: feat, html&css

#163 [feat] tts 페이지 재생성 히스토리 구현 #130
  src/components/audio/AudioPlayer.tsx
  src/components/audio/SoundStatus.tsx
  src/components/buttons/IconButton.tsx
  src/components/tts/TTSPlaybackHistory.tsx
  src/components/tts/TTSTable.tsx
  src/components/tts/TTSTableGrid.tsx
  src/components/tts/TTSTableList.tsx
  src/pages/CONCATPage.tsx
Labels: feat

#165 Feat/v csidebar#142
  src/components/sidebar/VCOptionsSidebar.tsx
  src/components/ui/kebob.tsx
  src/components/ui/pagination.tsx
  src/components/vc/FileUploadBox.tsx
  src/components/vc/VCselectTabs.tsx
  src/pages/VCPage.tsx
Labels: feat, html&css

#171 [feat] 툴팁 메시지 적용
  src/components/custom/dialogs/AudioHistoryDialog.tsx
  src/components/custom/guide/TooltipWrapper.tsx
  src/components/custom/tables/project/common/TableFooter.tsx
  src/components/custom/tables/project/common/TableListView.tsx
  src/components/custom/tables/project/tts/TTSTableGridView.tsx
  src/components/custom/tabs/VCSidebarTabs.tsx
  src/components/section/footer/AudioFooter.tsx
  src/components/section/sidebar/CONCATSidebar.tsx
  src/components/section/sidebar/TTSSidebar.tsx
  src/components/section/sidebar/VCSidebar.tsx
  src/components/ui/tooltip.tsx
  src/constants/tooltips.ts
  src/pages/VCPage.tsx
Labels: feat

#169 [feat] 마이페이지 퍼블리싱 #139
  .dockerignore
  .github/.gitmessage.txt
  .github/ISSUE_TEMPLATE/bug.yml
  Dockerfile
  mock/mockdown.cjs
  mock/mockup.cjs
  src/pages/MyPage.tsx
  src/routes/router.tsx
Labels: feat

#187 [feat] TTSidebar 수정(값들이 선택 되지 않았을 때 버튼 클릭 막기)
  src/components/custom/buttons/IconButton.tsx
  src/components/section/sidebar/TTSSidebar.tsx
  src/components/ui/select.tsx
Labels: feat

#188 [Feat] 프로젝트 목록 페이지 퍼블리싱
  src/components/custom/tables/history/ProjectListTable.tsx
  src/components/custom/tables/history/TableToolbar.tsx
  src/components/section/sidebar/NavSidebar.tsx
  src/components/ui/table.tsx
  src/pages/ProjectsPage.tsx
  src/routes/router.tsx
Labels: feat, html&css

#190 [feat] 텍스트 파일 포맷팅
  package-lock.json
  package.json
  src/components/custom/buttons/IconButton.tsx
  src/components/custom/forms/EditProfileForm.tsx
  src/components/custom/guide/TooltipWrapper.tsx
  src/components/custom/tables/project/common/TableContents.tsx
  src/components/custom/tables/project/common/TableFooter.tsx
  src/components/custom/tables/project/common/TableHeader.tsx
  src/components/custom/tables/project/common/TableListView.tsx
  src/components/custom/tables/project/tts/TTSTableGridView.tsx
  src/components/section/contents/project/ProjectMainContents.tsx
  src/components/ui/alert.tsx
  src/components/ui/textarea.tsx
  src/constants/messages.ts
  src/hooks/.gitkeep
  src/hooks/useTableItems.ts
  src/hooks/useTextFileUpload.ts
  src/pages/MyPage.tsx
  src/pages/TTSPage.tsx
  src/pages/VCPage.tsx
  src/types/table.ts
  src/utils/fileValidator.ts
  src/utils/signupSchema.ts
  src/utils/textParser.ts
Labels: feat, vc, tts

#194 [Feat] PW/ID 찾기
  src/components/custom/forms/FindAccountForm.tsx
  src/components/custom/forms/SigninForm.tsx
  src/pages/AccountRecoveryPage.tsx
  src/routes/router.tsx
Labels: feat, html&css

#197 [feat] 새프로젝트 생성 dialog 작성 #196
  package-lock.json
  src/components/custom/dialogs/CreateProjectDialog.tsx
  src/components/section/sidebar/NavSidebar.tsx
Labels: feat, html&css

#199 [Feat] tts 새프로젝트 생성, 저장 버튼 클릭시 서버로 API통신 #172
  src/api/aIParkAPI.schemas.ts
  src/api/aIParkAPI.ts
  src/api/axios-client.ts
  src/api/ttsApi.ts
  src/components/custom/dialogs/CreateProjectDialog.tsx
  src/components/section/contents/project/ProjectTitle.tsx
  src/pages/TTSPage.tsx
  src/routes/router.tsx
  src/stores/tts.store.ts
  vite.config.ts
Labels: feat

#201 [fix] 프로젝트 id를 null로 받아서 계속 새로운 프로젝트로 인식하는 버그 수정 #200
  .github/auto_assign.yml
  src/api/ttsApi.ts
  src/pages/TTSPage.tsx
Labels: bug, fix

#203 [feat] 히스토리 내역 페이지 퍼블리싱 #202
  src/components/custom/tables/history/HistoryListTable.tsx
  src/components/section/sidebar/NavSidebar.tsx
  src/pages/HistorysPage.tsx
  src/routes/router.tsx
Labels: feat, html&css

#216 [Feat] NavBar 탭기능 및 버튼 네비게이션
  src/components/custom/cards/HomeCard.tsx
  src/components/custom/dialogs/CreateProjectDialog.tsx
  src/components/custom/dropdowns/ProfileDropdown.tsx
  src/components/custom/guide/HomePopup.tsx
  src/components/custom/tables/history/RecentExportTable.tsx
  src/components/section/contents/home/RecontProject.tsx
  src/components/section/sidebar/NavSidebar.tsx
  src/pages/HomePage.tsx
  src/stores/project.store.ts
Labels: feat

#215 [feat] 페이지네이션 기능
  src/components/custom/tabs/VCSidebarTabs.tsx
  src/components/section/contents/MainContents.tsx
  src/components/section/contents/RecontProject.tsx
  src/components/section/contents/Title.tsx
  src/components/section/contents/project/ProjectMainContents.tsx
  src/components/section/footer/PaginationFooter.tsx
  src/components/ui/pagination.tsx
  src/constants/dummy.ts
  src/hooks/usePagination.ts
  src/hooks/useTableSelection.ts
  src/layouts/PageLayout.tsx
  src/pages/CONCATPage.tsx
  src/pages/HistoryPage.tsx
  src/pages/HistorysPage.tsx
  src/pages/HomePage.tsx
  src/pages/ProjectPage.tsx
  src/pages/ProjectsPage.tsx
  src/pages/TTSPage.tsx
  src/pages/VCPage.tsx
  src/routes/router.tsx
  src/types/table.ts
Labels: feat

#222 [feat] vc페이지 업데이트
  package-lock.json
  package.json
  src/components/custom/cards/VoiceCard.tsx
  src/components/custom/feature/FileUploadBox.tsx
  src/components/custom/feature/VoiceSelection.tsx
  src/components/custom/guide/FileUploadPopup.tsx
  src/components/custom/tables/project/common/TableContents.tsx
  src/components/custom/tables/project/common/TableHeader.tsx
  src/components/custom/tables/project/common/TableListView.tsx
  src/components/custom/tabs/VCSidebarTabs.tsx
  src/components/section/contents/MainContents.tsx
  src/components/section/sidebar/CONCATSidebar.tsx
  src/components/section/sidebar/VCSidebar.tsx
  src/components/ui/card.tsx
  src/components/ui/radio-group.tsx
  src/components/ui/tabs.tsx
  src/constants/dummy.ts
  src/hooks/useFileUpload.ts
  src/hooks/useTableItems.ts
  src/pages/CONCATPage.tsx
  src/pages/VCPage.tsx
  src/types/table.ts
Labels: feat

#221 [feat] tts 상태값 적용 기능, tts프로젝트 상태 분리 #207 #220
  src/api/aIParkAPI.schemas.ts
  src/components/custom/tables/project/common/TableContents.tsx
  src/components/section/contents/MainContents.tsx
  src/components/section/sidebar/TTSSidebar.tsx
  src/pages/HistoryPage.tsx
  src/pages/ProjectPage.tsx
  src/pages/TTSPage.tsx
  src/stores/tts.store.ts
Labels: fix

#224 [feat] 프로젝트탭 5개 제한, 새프로젝트생성 기본값 제거
  src/components/custom/dialogs/CreateProjectDialog.tsx
  src/components/custom/tables/history/RecentExportTable.tsx
  src/components/section/contents/RecontProject.tsx
  src/components/section/sidebar/NavSidebar.tsx
Labels: feat

#227 [feat] 로그인 api 연결 #225
  src/api/authAPI.ts
  src/api/axios-client.ts
  src/components/custom/forms/SigninForm.tsx
  src/stores/authStore.ts
Labels: feat

#228 [feat] 마이페이지 수정 및 모달 추가 #212
  .github/workflows/awsdeploy.yml
  src/api/authAPI.ts
  src/components/custom/dialogs/EditProfileDialog.tsx
  src/components/custom/forms/EditProfileForm.tsx
  src/pages/MyPage.tsx
  src/utils/textParser.ts
Labels: feat
